@tailwind base;
@tailwind components;
@tailwind utilities;


.header-gradient {
    position: fixed;
    top:0;
    left: 0;
    width: 100vw;
    height: 60px;
    background: linear-gradient(180deg, rgba(0,0,0,1), rgba(0,0,0,0));
}
